@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$color-blue: #1877f2;
$color-white: #fff;
$color-red: red;
$color-green: green;
$color-lime: lime;
$color-grey: grey;
$color-border: rgb(179, 179, 179);
$color-bg: #f0f2f5;
